<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Blog Ninja | <%= 'TEM QUE COLOCAR UM TITULO AQUI, SÓ "title" DÁ ERRO, PORQUE???' %></title>
</head>