<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Crash Course</title>
</head>
<body>
  <h1>CREATE</h1>
  <h2>CREATE PAGE</h2>
  <nav>
    <a href="/">About</a>
    <a href="/about">About page</a>
  </nav>
</body>
</html>